/* BUttons style */
.add{
    color: #fff;
    background-color: #71dd37 !important;
    border-color: #71dd37;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(113, 221, 55, 0.4);
    padding: 7px 25px;
    border-radius: 5px;
    display: flex;
    justify-content: end;
}

.warning{
    color: #fff !important;
    background-color: #e69a00 !important;
    border-color: #e69a00 !important;
    transform: translateY(-1px) !important;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.danger{
    color: #fff;
    background-color: #e93939 !important;
    border-color: #e93939;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(233, 57, 57, 1);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.warning img,
.danger img{
    width: 20px;
    height: 15px;
}